* {
  margin: 0;
  padding: 0;
}

.Nav {
  background-color: blue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.Nav:hover {
  background-color: pink;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}


.Nav ul {
  display: flex;
  list-style: none;

}

.Nav ul a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.Nav ul a:hover {
  color: green;
  text-decoration: none;
  padding: 20px;
}

.Pai {
  height: 50vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.juju {
  font-size: 100px;
}

.Filho {
  height: 3vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}